@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar-track {
    border-radius: 7px;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: rgb(217 119 6);
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 120%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: -10%;
    background-color: rgb(217 119 6);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#menu a.active {
    transform: translateX(200px);
}